@font-face {
    font-family: "Rubik";
    src: url("../assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../assets/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

:root {
    /* Colours */
    --purple: hsl(277 91% 56%);
    --green: hsl(151 70% 50%);
    --red: hsl(0 82% 63%);

    --purplish-white: hsl(277 100% 95%);
    --greenish-white: hsl(151 87% 94%);
    --redish-white: hsl(22 100% 96%);
    --bluish-white: hsl(223 100% 96%);

    --dark-navy: hsl(216 25% 25%);
    --navy: hsl(215 27% 32%);
    --grey-navy: hsl(219 13% 44%);
    --light-bluish: hsl(216 47% 78%);
    --shadow-blue: hsl(220 29% 66% / 14%);
    --light-grey: hsl(220 38% 97%);
    --white: hsl(0 0% 100%);
    --transparent-white: hsl(0 0% 100% / 50%);

    /* Colour settings */
    --answer-decoration-color: var(--grey-navy);
    --answer-hover-decoration-color: var(--purple);
    --answer-hover-decoration-bg-color: var(--purplish-white);
    --answer-marked-decoration-color: var(--white);
    --answer-selected-decoration-bg-color: var(--purple);
    --bg-color: var(--light-grey);
    --body-color: var(--dark-navy);
    --button-bg-color: var(--white);
    --correct-color: var(--green);
    --error-color: var(--red);
    --icon-bg-color-accessibility: var(--purplish-white);
    --icon-bg-color-css: var(--greenish-white);
    --icon-bg-color-html: var(--redish-white);
    --icon-bg-color-js: var(--bluish-white);
    --incorrect-color: var(--red);
    --option-bg-color: var(--light-grey);
    --p-color: var(--grey-navy);
    --score-display-color: var(--white);
    --selected-color: var(--purple);
    --submit-button-color: var(--white);
    --submit-button-bg-color: var(--purple);
    --submit-button-bg-color-hover:
        linear-gradient(var(--transparent-white), var(--transparent-white)), var(--submit-button-bg-color);
    --theme-switch-color: var(--white);
    --theme-switch-bg-color: var(--purple);
    --theme-switch-icon-color: var(--grey-navy);

    /* Shadow */
    --shadow: 0 16px 40px 0 var(--shadow-blue);

    /* Font sizes */
    --display: clamp(5.5rem, 2.1603rem + 14.2494vw, 9rem);

    --heading-l: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem);
    --heading-m: clamp(1.25rem, 0.2958rem + 4.0712vw, 2.25rem);
    --heading-s: clamp(1.125rem, 0.5286rem + 2.5445vw, 1.75rem);

    --body-m: clamp(1.125rem, 0.7672rem + 1.5267vw, 1.5rem);
    --body-s: clamp(0.875rem, 0.5172rem + 1.5267vw, 1.25rem);


    /* Font weights */
    --medium: 500;
    --regular: 400;


    /* Line heights */
    --heading-line-height: 100%;
    --body-line-height: 150%;

    /* Padding */
    --theme-switch-padding: 4px;

    /* Sizing */
    --answer-feedback-icon-size: clamp(1.5rem, 1.1422rem + 1.5267vw, 1.875rem);
    --icon-size: clamp(1.785625rem, 1.104rem + 2.9084vw, 2.5rem);
    --option-decoration-size: clamp(2.5rem, 1.5458rem + 4.0712vw, 3.5rem);
    --theme-switch-core-size: clamp(0.75rem, 0.2729rem + 2.0356vw, 1.25rem);;
    --theme-switch-height: calc(var(--theme-switch-core-size) + 2 * var(--theme-switch-padding));
    --theme-switch-width: calc(2 * var(--theme-switch-core-size) + 2 * var(--theme-switch-padding));
    --theme-switch-icon-size: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);

    /* Icons */
    --icon-correct: url("../assets/images/icon-correct.svg");
    --icon-incorrect: url("../assets/images/icon-incorrect.svg");

    /* Border radius*/
    --option-border-radius: clamp(12px, 0.5504px + 3.0534vw, 24px);
    --option-decoration-border-radius: clamp(6px, 0.2752px + 1.5267vw, 12px);
    --quiz-name-decoration-border-radius: clamp(4px, 0.184px + 1.0178vw, 8px);
}

/* Dark mode settings*/
:root:has(#theme-switch:checked) {
    /* Colour settings */
    --bg-color: var(--dark-navy);
    --body-color: var(--white);
    --button-bg-color: var(--navy);
    --error-color: var(--light-grey);
    --p-color: var(--light-bluish);
    --score-display-color: var(--navy);
    --theme-switch-icon-color: var(--white);
}

@media (min-width: 48rem) {
    :root {
        /* Border radius*/
        --option-decoration-border-radius: clamp(12px, 25.7136px - 1.7857vw, 8px);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

.answer::before, .subject::before {
    display: block;
    content: "";
    height: var(--option-decoration-size);
    width: var(--option-decoration-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--option-bg-color);
    border-radius: var(--option-decoration-border-radius);
}

#answers {
    counter-reset: answer-count;
}

.answer::before {
    counter-increment: answer-count 1;
    content: counter(answer-count, upper-latin);
    color: var(--answer-decoration-color);
}
.answer.selected {
    border-color: var(--selected-color);
}
.answer.selected::before {
    background-color: var(--answer-selected-decoration-bg-color);
    color: var(--answer-marked-decoration-color);
}
.answer.correct::after, .answer.incorrect::after {
    display: block;
    content: "";
    height: var(--answer-feedback-icon-size);
    width: var(--answer-feedback-icon-size);
    background: no-repeat center/var(--answer-feedback-icon-size);
}
.answer.correct::after {
    background-image: var(--icon-correct);
}
.answer.correct.selected {
    border-color: var(--correct-color);
}
.answer.correct.selected::before {
    background-color: var(--correct-color);
    color: var(--answer-marked-decoration-color);
}
.answer.incorrect {
    border-color: var(--incorrect-color);
}
.answer.incorrect::before {
    background-color: var(--incorrect-color);
    color: var(--answer-marked-decoration-color);
}
.answer.incorrect::after {
    background-image: var(--icon-incorrect);
}
#answers:not(.answered) .answer:not(.selected):hover::before {
    color: var(--answer-hover-decoration-color);
    background-color: var(--answer-hover-decoration-bg-color);
}

body {
    min-height: 100vh;
    background: var(--bg-color) /* ...background image */;
    color: var(--body-color);
}

button {
    display: block;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: solid 3px transparent;
    box-shadow: var(--shadow);
}

li button {
    background: var(--button-bg-color);
}

button.submit {
    color: var(--submit-button-color);
    background: var(--submit-button-bg-color);
}
button.submit:hover {
    background: var(--submit-button-bg-color-hover);
}

#completion-display {
    background: var(--score-display-color);
    box-shadow: var(--shadow);
}

[hidden] {
    display: none;
}
  
img, svg {
    display: block;
    max-width: 100%;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

ol, ul {
    list-style: none;
}

.option, .submit, #completion-display {
    border-radius: var(--option-border-radius);
}

p:not(hgroup > p, #question) {
    color: var(--p-color);
}

p#unanswered-error {
    color: var(--error-color);
}

p#unanswered-error::before {
    content: url("../assets/images/icon-error.svg");
}

.quiz-name.subject::before {
    border-radius: var(--quiz-name-decoration-border-radius);
}

.subject::before {
    background: no-repeat center/var(--icon-size);
}

/* Subject icons */
.accessibility::before {
    background-image: url("../assets/images/icon-accessibility.svg");
    background-color: var(--icon-bg-color-accessibility);
}
.css::before {
    background-image: url("../assets/images/icon-css.svg");
    background-color: var(--icon-bg-color-css);
}
.html::before {
    background-image: url("../assets/images/icon-html.svg");
    background-color: var(--icon-bg-color-html);
}
.javascript::before {
    background-image: url("../assets/images/icon-js.svg");
    background-color: var(--icon-bg-color-js);
}

#theme-switch {
    appearance: none;
    background-color: var(--theme-switch-bg-color);
    border-radius: 2rem;
    height: var(--theme-switch-height);
    width: var(--theme-switch-width);
    padding: var(--theme-switch-padding);
}

#theme-switch::after {
    display: block;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: 50%;
    background-color: var(--theme-switch-color);
    transition: transform 0.25s;
}

#theme-switch:checked::after {
    transform: translateX(100%);
}

#theme-switch-container svg {
    height: var(--theme-switch-icon-size);
    width: var(--theme-switch-icon-size);
}

#theme-switch-container svg path {
    fill: var(--theme-switch-icon-color);
}